<main>
  <div class="main-container">
    <div class="main-title-container">
      <h1>
        <span class="thin-text primary-color-text">Bastien</span>
        <span class="secondary-color-text"> Ubassy</span>
      </h1>
      <p class="main-subtitle">
        "The man, the myth, the legend" - Chuck Norris, 2013
        <br />
        "Greatest man alive?" - Schrödinger, 2007
        <br />
        "Ils sont si bêtes par rapport à lui" - Leeeeeeeeeeezzzz 2024
      </p>
    </div>

    <hr class="main-hr" />

    <div class="main-p-container">
      <div class="main-p-content" id="about-me">
        <h2>About me</h2>
        <p class="main-p">
          I am a 21 years old student in computer science at the Engineering
          School
          <a
            href="https://www.insa-hautsdefrance.fr/en"
            target="_blank"
            matTooltip="INSA HdF website"
            [matTooltipShowDelay]="1000"
            >INSA Hauts-de-France</a
          >
          in France. I am currently looking for a 20-week to 6-month end-of
          studies internship in the field of development or AI as part of my
          curriculum.
        </p>
        <h3>Skills</h3>
        <div class="main-skills-container">
          <div class="main-skills-item">
            <i class="main-skills-item-icon fab fa-python"></i>
          </div>
          <div class="main-skills-item">
            <i class="main-skills-item-icon fab fa-java"></i>
          </div>
          <div class="main-skills-item">
            <i class="main-skills-item-icon fab fa-c"></i>
          </div>
          <div class="main-skills-item">
            <i class="main-skills-item-icon fab fa-js"></i>
          </div>
          <div class="main-skills-item">
            <i class="main-skills-item-icon fab fa-angular"></i>
          </div>
          <div class="main-skills-item">
            <i class="main-skills-item-icon fab fa-mysql"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="main-p-container main-projects-container" id="projects">
      <div class="main-p-content">
        <h2>Projects</h2>
        <div class="main-projects-item-container">
          <div class="main-projects-item-frame">
            <div class="main-projects-item"></div>
          </div>
          <div class="main-projects-item-frame">
            <div class="main-projects-item"></div>
          </div>
          <div class="main-projects-item-frame">
            <div class="main-projects-item"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-p-container main-contact-container" id="contact">
      <div class="main-p-content">
        <h2>Contact</h2>
      </div>
    </div>
  </div>
</main>
